
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
body{
  background-color: rgb(5, 5, 75);
}

.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
}

th{
  border: 1px solid #ddd;
  padding: 8px;

}

td {
  border: 1px solid #ddd;
  padding: 8px;
  color: #fff;
}

th {
  background-color: #f2f2f2;
}

button {
  margin: 0 5px;
  padding: 5px 10px;
  cursor: pointer;
}

input[type="text"], input[type="date"] {
  padding: 5px;
  margin: 5px 0;
}

.cursive {
  font-family: 'Dancing Script', cursive;
  font-size: 60px;
  color: #fff;
}

h2,p{
  color: #fff;
}

.addvalue{
  border-color: rgb(5, 5, 75);
}

.action{
  width: 30px;
  background-color: none;
}